*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html,body{
    height: 100%;
    width:100%;
}

#container{
    width:800px;
    margin: 0 auto;
}

figure{
    width:260px;
    margin: 0 auto;
}

img{
    width: 100%;
}

ol,ul{
    padding-left: 20px;
    margin: 12px;
}

/*Exemplo de pseudo-classe*/
li:first-child{
    background-color: yellow;
}

/*Exemplo de pseudo-elemento*/
li::after{
    content:';';
}

h1,h3{
    margin: 12px;
}

p{
    margin: 12px;
}