*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background-color: #DBC7BE;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.box{
  width: 500px;
  height: 200px;
  background-color: #EF959C;
  border-radius: 10px;
}

