*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section{
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 25px;
}

.group{
  display: flex;
  margin: 10px;
}

label{
  flex: 1;
}

.campo{
  flex: 3;
}

.group_submit{
  display:flex;
  justify-content: center;
  margin: 10px;
}

input[type=submit]{
  width: 90px;
  background-color: white;
  padding: 4px;
}