
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  height: 100vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* Em coluna
  flex-direction:column;
  */
}

.item{
  flex: 1;
  height: 50px;
  margin: 5px;
  /* Para tamanho fixo
  width: 300px;
  height: 200px;
  */
  background-color: white;
  border-radius: 5px;
  border-color: black;
  border-style:solid;
  border-width: 3px;
}